.divider {
  background-color: #d7d7d7;
  height: 1px;
}

.cardButton {
  border-radius: 30px;
  width: 210px;
  height: 45px;
  transition: 200ms background-color;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  color: black;
}

.cardButton:hover {
  background: rgb(211, 211, 211);
}

#card-title {
  font-size: 30px;
  font-weight: 400;
}
.card-subtitle {
  font-size: 22px;
  font-weight: 400;
}

#description {
  height: 180px;
  overflow: scroll;
}

.card-text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

mat-form-field {
  width: 250px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
