.divider {
  background-color: #d7d7d7;
  height: 1px;
}

.cardButton {
  border-radius: 70px;
  width: 250px;
  height: 45px;
  transition: 200ms background-color;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.cardButton:hover {
  background: rgb(211, 211, 211);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
