<nav #sidebarContainer class="sidebar col-md-3 d-md-block" [ngClass]="{'moveContentToTop': tutorialStep() == 2}">
  <div class="sidebar-sticky shadow-lg">
    <div class="grid-container-algorithm"
      [ngClass]="{'sidebarContentWithMarked' : marksAgent(), 'sidebarContentNoMarked': !marksAgent()}">
      <alg-description />
      <free-agents />
      @if (marksAgent()) {
      <marked-agents />
      }
      <pseudocode />
      <execution-log style="overflow: auto;" />
    </div>
  </div>
</nav>