<!-- semi-transparent panel to give illusion of modal on tutorial -->
@if (this.tutorialStep != 0){
<div class="covering-panel"></div>
}

<alg-page-navbar #topNavbar [duringAnimation]="duringAnimation" (commandEmitter)="this.handleNavbarCommand($event)"
  (dialogOpenEmitter)="this.dialogOpen=$event" (SRStableEmitter)="this.SRstable=$event"
  (tutorialStepEmitter)="this.tutorialUpdate($event)"></alg-page-navbar>

<!--- these are absolutely positioned-->
<sidebar #leftSidebar [(isCodeShowing)]="isCodeShowing" [(tutorialStep)]="tutorialStep"></sidebar>
<app-info-sidebar #rightSidebar [(isInfoShowing)]="isInfoShowing" [(tutorialStep)]="tutorialStep"></app-info-sidebar>

<div class="container-fluid main row">
  <!-- sidebar -->
  <div class="spacer col-md-3 px-0" [ngClass]="{'d-none': !this.isCodeShowing}"></div>

  <div class="grid-container-algorithm px-0" id="mainContent"
    style="background-color: white; height: 100%; display: grid; grid-template-rows: 0.39fr 3.4fr 0.8fr;"
    [ngClass]="{'col-md-6' : this.isCodeShowing && this.isInfoShowing, 'col-md-9' : this.isCodeShowing != this.isInfoShowing, 'col-md-12': !this.isCodeShowing && !this.isInfoShowing, 'moveContentToTop': this.tutorialStep == 3}">

    <agent-titles [(isCodeShowing)]="isCodeShowing"></agent-titles>

    <div class="mainContentPopover" (window:resize)="this.drawService.redrawCanvas()" id="parent"
      style="min-height: 400px;" data-toggle="popover" data-placement="left" title="Algorithm Display"
      data-content="This is where you can see the animation for the algorithm! Green lines mean there is a matching between 2 circles, and red lines mean there is a proposal currently being considered. If you want more information, click on the info button next to the tutorial button!"
      data-trigger="manual">
      <canvas #canvas id="myCanvas" style="min-height: 280px; width: 100%; height: 100%"></canvas>
    </div>

    <playback-controls></playback-controls>
  </div>
  <!-- info sidebar -->
  <div class="spacer col-md-3 px-0" [ngClass]="{'d-none': !this.isInfoShowing}"></div>
</div>