<div style="min-width: 300px">
  <h1>Edit Preferences</h1>

  <!-- heading -->

  <!-- <p>
    Click on the number below and use arrow keys to change the number of 
    {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[0]).toLowerCase() }} 
    and {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[1]).toLowerCase() }}
    <br><br>
    Any preferences should be in the form:
    <br>
    <{{this.algorithmService.currentAlgorithm.orientation[0].toLowerCase()}}/{{this.algorithmService.currentAlgorithm.orientation[1].toLowerCase()}} number>: &lt;preferences separated by commas>
  </p> -->

  @if (this.algorithmService.currentAlgorithm.id != 'smp-room-irv') {
  <div>
    <p>
      Click on the number below and use arrow keys to change the number of
      {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[0]).toLowerCase() }}
      and {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[1]).toLowerCase() }}
    </p>
    <p>
      Each person is represented as their ID, either a letter or a number, below you can change the <br>
      preference list of the corresponding person.
    </p>
    <p>
      Missing preferences are shown as pairs - (Person ID , Missing person ID on preference list).
    </p>
  </div>
  }

  @if (this.algorithmService.currentAlgorithm.id == 'smp-room-irv') {
  <div>
    <p>
      Click on the number below and use arrow keys to change the number of
      {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[0]).toLowerCase() }}
    </p>
    <p>
      Each person is represented by their ID, in this case a number, below you can change the preference <br>
      list of the corresponding person.
    </p>
    <p>
      Missing preferences are shown as pairs - (Person ID, Missing person ID on preference list).
    </p>
  </div>
  }

  <!-- input size -->

  <form class="example-form pl-3">
    @if (this.algorithmService.currentAlgorithm.name == 'Stable Marriage Problem') {
    <div class="row justify-content-start">
      <mat-form-field style="width: 200px;">
        <mat-label>Number of Men and Women</mat-label>
        <input [formControl]="numberOfGroup1Agents" type="number" matInput placeholder="5" value="5"
          (ngModelChange)="this.generatePreferenceString()" min="1" max="9"
          oninput="this.value = this.value > 0 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))"
          onDrag="return false" onDrop="return false" onPaste="return false">
        @if (numberOfGroup1Agents.hasError('required')){
        <mat-error>
          This field is <strong>required</strong>
        </mat-error>
        }
        @if (numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')) {
        <mat-error>
          Please input a number between 1 and 9
        </mat-error>
        }
      </mat-form-field>
    </div>
    }

    @if (this.algorithmService.currentAlgorithm.name == 'Hospitals/Residents Problem') {
    <div class="row justify-content-center">
      <mat-form-field style="width: 200px;" class="mr-1">
        <mat-label>Number of Residents</mat-label>
        <input [formControl]="numberOfGroup1Agents" type="number" matInput placeholder="5" value="5"
          (ngModelChange)="this.generatePreferenceString()" min="2" max="9"
          oninput="this.value = this.value > 1 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))"
          onDrag="return false" onDrop="return false" onPaste="return false">
        @if (numberOfGroup1Agents.hasError('required')){
        <mat-error>
          This field is <strong>required</strong>
        </mat-error>
        }
        @if (numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')) {
        <mat-error>
          Please input a number between 1 and 9
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field style="width: 200px;" class="ml-1">
        <mat-label>Number of Hospitals</mat-label>
        <input [formControl]="numberOfGroup2Agents" type="number" matInput placeholder="5" value="5"
          (ngModelChange)="this.generatePreferenceString()" min="2" max="9"
          oninput="this.value = this.value > 1 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))"
          onDrag="return false" onDrop="return false" onPaste="return false">
        @if (numberOfGroup2Agents.hasError('required')){
        <mat-error>
          This field is <strong>required</strong>
        </mat-error>
        }
        @if (numberOfGroup2Agents.hasError('min') || numberOfGroup1Agents.hasError('max')) {
        <mat-error>
          Please input a number between 1 and 9
        </mat-error>
        }
      </mat-form-field>
    </div>
    }

    @if (this.algorithmService.currentAlgorithm.name == 'Stable Roommates Problem') {
    <div class="row justify-content-start">
      <mat-form-field style="width: 200px;">
        <mat-label>Number of People</mat-label>
        <input [formControl]="numberOfGroup1Agents" type="number" matInput placeholder="5" value="5"
          (ngModelChange)="this.generatePreferenceString1Group()" min="1" max="10"
          oninput="this.value = this.value > 0 && this.value < 11 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value))"
          onDrag="return false" onDrop="return false" onPaste="return false">
        @if (numberOfGroup1Agents.hasError('required')) {
        <mat-error>
          This field is <strong>required</strong>
        </mat-error>
        }
        @if (numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')) {
        <mat-error>
          Please input a number between 1 and 8
        </mat-error>
        }
      </mat-form-field>
    </div>
    }

    <!-- SPA -->
    @if (this.algorithmService.currentAlgorithm.name == 'Student Project Allocation') {
    <div class="row justify-content-center">
      <mat-form-field style="width: 200px;" class="mr-1">
        <mat-label>Number of Students</mat-label>
        <input [formControl]="numberOfGroup1Agents" type="number" matInput placeholder="5" value="5"
          (ngModelChange)="this.generatePreferenceString()" min="2" max="9"
          oninput="this.value = this.value > 1 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))"
          onDrag="return false" onDrop="return false" onPaste="return false">
        @if (numberOfGroup1Agents.hasError('required')){
        <mat-error>
          This field is <strong>required</strong>
        </mat-error>
        }
        @if (numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')) {
        <mat-error>
          Please input a number between 1 and 9
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field style="width: 200px;" class="ml-1">
        <mat-label>Number of Projects</mat-label>
        <input [formControl]="numberOfGroup2Agents" type="number" matInput placeholder="5" value="5"
          (ngModelChange)="this.generatePreferenceString()" min="2" max="9"
          oninput="this.value = this.value > 1 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))"
          onDrag="return false" onDrop="return false" onPaste="return false">
        @if (numberOfGroup2Agents.hasError('required')){
        <mat-error>
          This field is <strong>required</strong>
        </mat-error>
        }
        @if (numberOfGroup2Agents.hasError('min') || numberOfGroup1Agents.hasError('max')) {
        <mat-error>
          Please input a number between 1 and 9
        </mat-error>
        }
      </mat-form-field>
    </div>
    }

  </form>


  <!-- input values -->

  <h2 class="mt-2">Input New Preferences</h2>

  <!-- NEW  -->

  <div class="parent">
    <!-- group 1 -->
    <div class="child">
      <p><strong> {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[0])
          }}</strong></p>

      @for (item of this.preferenceTextGroup1; let i = $index; track $index) {
      <div>
        <div class="parent row">
          <span class="child labels">{{ i + 1 }}</span>
          <input class="child custom-field" type="text" [(ngModel)]="this.preferenceTextGroup1[i]"
            value="this.preferenceTextGroup1[i]" (ngModelchange)="this.generateMissingPreferences($event)">

        </div>
      </div>
      }
    </div>

    <!-- group 2 -->
    @if ((this.algorithmService.currentAlgorithm.name != 'Stable Roommates Problem') &&
    (this.algorithmService.currentAlgorithm.name != 'Student Project Allocation')) {
    <div class="child">
      <p><strong>{{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[1])
          }}</strong></p>

      @for (item of this.preferenceTextGroup2; let i = $index; track $index) {
      <div>
        <div class="parent row">
          <span class="child labels">{{ this.keyList[i] }}</span>
          <input class="child custom-field" type="text" [(ngModel)]="this.preferenceTextGroup2[i]"
            value="this.preferenceTextGroup2[i]" (ngModelchange)="this.generateMissingPreferences($event)">

        </div>
      </div>
      }
    </div>
    }
  </div>

  <div class="parent">
    @if ((this.missingPreferencesGroup1.length != 0) || (this.missingPreferencesGroup2.length != 0)) {
    <h2>Missing Preferences</h2>
    }

    <div class="container">
      <div class="row justify-content-around">

        @if (this.missingPreferencesGroup1.length > 0) {
        <div class="col-6">
          <p> <strong> {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[0]) }}
            </strong> </p>

          @for (item of this.missingPreferencesGroup1; let lastItem = $last; ; track item) {
          <span>
            @if (!lastItem) {
            <span class="labels">({{ item }})</span><span>, </span>
            }
          </span>
          }
        </div>
        }

        @if (((this.missingPreferencesGroup2.length > 0) && (this.algorithmService.currentAlgorithm.name != 'Stable
        Roommates Problem'))) {
        <div class="col-6">
          <p> <strong> {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[1]) }}
            </strong> </p>

          @for (item of this.missingPreferencesGroup2; let lastItem = $last; track item) {
          <span>
            @if (!lastItem) {
            <span class="labels">({{ item }})</span><span>, </span>
            }
          </span>
          }
        </div>
        }


      </div>

      <br>
    </div>

    <div class="container">
      <div class="row justify-content-end">
        <form>
          <div class="right-align">
            <button class="buttons" mat-stroked-button (click)="fixInputs()">Fix!</button>
          </div>
        </form>

        <div class="col-3 ">
          <button class="buttons" mat-stroked-button (click)="callGenerateAlgorithmPreferences()"
            [disabled]="this.currentInputCheck()">Generate!</button>
        </div>
      </div>
    </div>


  </div>
</div>