<div id="dialog-container">
  <h1><u>Edit Preferences</u></h1>

  <div>
    <p>
      Click on the number below and use arrow keys to change the number of
      {{ this.group1Plural.toLowerCase() }}
      @if (this.algorithmService.currentAlgorithm.id != 'smp-room-irv') {
      and {{ this.group2Plural.toLowerCase() }}
      }.
    </p>
    <p>
      Each agent is represented as their ID, either a letter or a number.<br>
      Below you can change each agent's list. Missing preferences are shown as pairs:<br>
      (Agent ID , Missing agent's ID).
    </p>
  </div>

  <div class="row mt-4">
    <div class="col-7">
      <app-agent-count-form [algorithm]="this.algorithmService.currentAlgorithm"></app-agent-count-form>
    </div>
    <div class="col-5 text-right">
      <button class="cardButton flex-fill" mat-stroked-button cdkFocusInitial [disabled]="!this.agentForm.isFormValid()"
        (click)="this.generatePreferenceString()">
        Generate Preferences
      </button>
    </div>
  </div>

  <h1 class="mt-2"><u>Input New Preferences</u></h1>

  <div class="parent">
    <!-- group 1 -->
    <div class="child">
      <p><strong> {{ this.group1Plural }}</strong></p>

      @for (item of this.preferenceTextGroup1; let i = $index; track $index) {
      <div>
        <div class="parent row">
          <span class="child labels">{{ i + 1 }}</span>
          <input class="child custom-field" type="text" [(ngModel)]="this.preferenceTextGroup1[i]"
            value="this.preferenceTextGroup1[i]">

        </div>
      </div>
      }
    </div>

    <!-- group 2 -->
    @if ((this.algorithmService.currentAlgorithm.name != 'Stable Roommates Problem') &&
    (this.algorithmService.currentAlgorithm.name != 'Student Project Allocation')) {
    <div class="child">
      <p><strong>{{ this.group2Plural }}</strong></p>

      @for (item of this.preferenceTextGroup2; let i = $index; track $index) {
      <div>
        <div class="parent row">
          <span class="child labels">{{ this.keyList[i] }}</span>
          <input class="child custom-field" type="text" [(ngModel)]="this.preferenceTextGroup2[i]"
            value="this.preferenceTextGroup2[i]">

        </div>
      </div>
      }
    </div>
    }
  </div>

  <div class="parent">
    @if ((this.missingPreferencesGroup1.length != 0) || (this.missingPreferencesGroup2.length != 0)) {
    <h2>Missing Preferences</h2>
    }

    <div class="container">
      <div class="row justify-content-around">

        @if (this.missingPreferencesGroup1.length > 0) {
        <div class="col-6">
          <p><strong> {{ this.group1Plural }}</strong></p>

          @for (item of this.missingPreferencesGroup1; let lastItem = $last; ; track item) {
          <span>
            @if (!lastItem) {
            <span class="labels">({{ item }})</span><span>, </span>
            }
          </span>
          }
        </div>
        }

        @if (((this.missingPreferencesGroup2.length > 0) && (this.algorithmService.currentAlgorithm.name !=
        'Stable Roommates Problem'))) {
        <div class="col-6">
          <p> <strong> {{ this.group2Plural }}
            </strong> </p>

          <p>{{this.missingPreferences}}</p>
          <p>{{this.missingPreferencesGroup1}}</p>
          <p>{{this.missingPreferencesGroup2}}</p>

          @for (item of this.missingPreferencesGroup2; let lastItem = $last; track item) {
          <span>
            @if (!lastItem) {
            <span class="labels">({{ item }})</span><span>, </span>
            }
          </span>
          }
        </div>
        }


      </div>

      <br>
    </div>

    <div class="row justify-content-end">
      <div class="col-3 ">
        <button class="buttons" mat-stroked-button (click)="callGenerateAlgorithmPreferences()"
          [disabled]="!this.isValidPreferences()">Generate Instance</button>
      </div>
    </div>
  </div>
</div>