<div [@simpleFadeAnimation]="'in'" class="aboutContent">
    <div class="container text-center py-5 my-5 col-sm-11 col-lg-8 col-xl-6">
        <h1 class="title-text">About Us</h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">

        <div class="container my-5" style="font-family: DM Sans;">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Motivation</h1>
                    <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        Matching problems arise whenever an assignment must be found between agents based on their
                        individual preferences. Large-scale examples include the U.S. <a
                            href="https://www.nrmp.org/">National Resident Matching Program</a>, which matches junior
                        doctors to hospitals, so efficient algorithms are necessary. Algmatch seeks to help teach those
                        with no prior knowledge the purpose and function of stable matching algorithms.

                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">PyPI Module</h1>
                    <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        The <a href="https://pypi.org/project/algmatch/">Algmatch Python package</a> complements this
                        web app. It provides a centralised collection of efficient and well-tested implementations of
                        algorithms for finding stable matchings in fundamental bipartite problems. It appears, to the
                        best of our knowledge at the time of writing, to be the only publicly available module or
                        library that implements the known polynomial-time algorithms for problems which allow agents to
                        express indifference.
                    </p>
                </div>
            </div>

            <div style="height: 150px"></div>

            <div>
                <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Development History</h1>
            </div>

            <div class="dev-table">
                <div class="dev-name">Ben W.J. Whitehead:</div>
                <div>(2025-26)</div>
                <div class="dev-links">
                    <a href="https://github.com/BenOnTheBoard">GitHub</a>
                </div>

                <div class="dev-name">Callum Ormond:</div>
                <div>(2022-23)</div>
                <div class="dev-links">
                    <a href="https://www.linkedin.com/in/callum-ormond-619951252/">LinkedIn</a>
                    <a href="https://github.com/CallumOrmond">GitHub</a>
                </div>

                <div class="dev-name">Liam Lau:</div>
                <div>(2020-21)</div>
                <div class="dev-links">
                    <a href="https://www.linkedin.com/in/liam-lau-01b2b31b0/">LinkedIn</a>
                    <a href="https://github.com/liamlau">GitHub</a>
                </div>
            </div>

            <div style="height: 150px"></div>

            <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Special Mentions</h1>
            <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">
                All three of the developers were aided in their respective projects by the guidance of Sofiat
                Olaosebikan, our mutual supervisor and the original proposer of and client for this application. It
                would not exist without her.
            </p>
        </div>
    </div>
</div>