<div [@simpleFadeAnimation]="'in'" class="algorithmContent">
    <div class="container text-center py-5 my-5">
        <h1 class="title-text">Select an Algorithm</h1>

        <div class="row pt-3 justify-content-center">
            <div class="col-9 pr-5 text-center">
                <p class="lead" style="font-size: 1.6rem; line-height: 2.5rem; font-family: 'DM Sans'">The cards below
                    each tackle a certain problem with a certain algorithm. The side which does the proposing is noted
                    in the top right of the card.</p>
            </div>
        </div>

    </div>

    <div class="py-5" style="background-color: #f6f6f8">
        <div class="container-fluid mt-3 mb-5">

            <div class="text-center">
                <h1 class="title-text" style="color: #464d57;">Problems</h1>
            </div>

            <div class="row my-5 mx-5 justify-content-center">
                @for(algorithm of algorithmRetrieval.getListOfAlgorithms(); track $index) {
                <div class="col-xl-6 col-sm-12 mb-5">
                    <algorithm-card [algorithm]=algorithm></algorithm-card>
                </div>
                }
            </div>
        </div>
    </div>

</div>