<div [@simpleFadeAnimation]="'in'" class="feedbackContent">
    <div class="container text-center py-5 my-5 col-sm-11 col-lg-8 col-xl-6">
        <h1 class="title-text">We Would Appreciate Your Feedback</h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">
        <div class="container my-5" style="font-family: DM Sans;">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 class="page-section-header">Evaluation</h1>
                    <p class="page-section-text">As part of my dissertation associated with this project, I (B.
                        Whitehead) am collecting feedback through Google Forms. I expect that filling in the
                        questionnaire will take about 15 minutes.</p>
                    <p class="page-section-text">My submission deadline is March 27th 2026. The form is available <a
                            href="https://forms.gle/XLhMCV7okiNPN5Ke8">HERE</a>.</p>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pt-3">
                <div class="col-12">
                    <h1 class="page-section-header">Future Work</h1>
                    <p class="page-section-text">In terms of features, we are aware that the following may be desirable
                        but are not part of the planned work on this web app:</p>
                    <ul class="page-section-text">
                        <li>An introductory page to familiarise new users with the subject</li>
                        <li>A mobile version</li>
                    </ul>
                    <p class="page-section-text">The application has been designed for large screen
                        desktop use at the University of Glasgow. If you have any other suggestions, please let us know
                        using the form above.</p>
                </div>
            </div>
        </div>
    </div>
</div>