<div [@simpleFadeAnimation]="'in'" class="feedbackContent">
    <div class="container text-center py-5 my-5 col-sm-11 col-lg-8 col-xl-6">
        <h1 class="title-text">Please leave us some feedback!</h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">
        <div class="container my-5" style="font-family: DM Sans;">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 class="page-section-header">Evaluation</h1>
                    <p class="page-section-text">PLACEHOLDER</p>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pt-3">
                <div class="col-12">
                    <h1 class="page-section-header">Future Work</h1>
                    <p class="page-section-text">In terms of features, we are aware that the following may be desirable
                        but are not part of the planned work on this web app:</p>
                    <ul class="page-section-text">
                        <li>Screen responsiveness</li>
                        <li>Mobile version of the web app</li>
                    </ul>
                    <p class="page-section-text">This is because the application has been designed for full-screen
                        desktop use at the university of Glasgow. If you have any other suggestions, please let us know
                        using the form above.</p>
                </div>
            </div>
        </div>
    </div>
</div>